<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="../static/characters.css">
</head>

<header>
    <div class="header">
        <nav>
            <a class="logo">Rick and Morty</a>
            <a href="/" class="home">Главная</a>
            <a href="/characters" class="characters">Персонажи</a>
            <a href="/episodes" class="episodes">Эпизоды</a>
            <a href="/locations" class="locations">Локации</a>
            <a href="/ai" class="ai">AI чат</a>
            <input type="text" class="search" placeholder="Поиск...">
        </nav>
    </div>
</header>

<body>
    <div class="container">
        <div class="div1">
            <img class="icon" src="/static/images/icon1.png">
            <p class="t">Персонажи</p>
        </div>
    </div>
    <div class="container2">
        <div class="cards-container">
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>


        </div>
        <div class="cards-container">
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>


        </div>
        <div class="cards-container">
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>


        </div>
        <div class="cards-container">
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>
            <div class="card">
                <img class="card_img" src="/static/images/rick.png" alt="">
                <p class="card_name">Рик Санчез</p>
                <p class="card_status">Статус: Жив</p>
                <p class="card_species">Вид: Человек</p>
            </div>


        </div>
    </div>
</body>

</html>