<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodes</title>
    <link rel="stylesheet" href="../static/episodes.css">
</head>

<header>
    <div class="header">
        <nav>
            <a class="logo">Rick and Morty</a>
            <a href="/" class="home">Главная</a>
            <a href="/characters" class="characters">Персонажи</a>
            <a href="/episodes" class="episodes">Эпизоды</a>
            <a href="/locations" class="locations">Локации</a>
            <a href="/ai" class="ai">AI чат</a>
            <input type="text" class="search" placeholder="Поиск...">
        </nav>
    </div>
</header>


<body>
    <div class="container">
        <div class="div1">
            <img class="icon" src="/static/images/icon2.png" alt="">
            <p class="t">Эпизоды</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>

        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>

        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>

        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>

        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>

        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E01</div>
            <div class="episode-title">Пилот</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 01<br>
                Дата выхода: 2 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
        <div class="card">
            <div class="episode-id">S01E02</div>
            <div class="episode-title">Пёс-газонокосильщик</div>
            <div class="episode-meta">
                Сезон: 01<br>
                Эпизод: 02<br>
                Дата выхода: 9 Декабря , 2013<br>
                Персонажей: <span class="character-count">19</span>
            </div>
        </div>
    </div>

    </div>
</body>

</html>