<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">
</head>

<header>
    <div class="header">
        <nav>
            <a class="logo">Rick and Morty</a>
            <a href="/" class="home">Главная</a>
            <a href="/characters" class="characters">Персонажи</a>
            <a href="/episodes" class="episodes">Эпизоды</a>
            <a href="/locations" class="locations">Локации</a>
            <a href="/ai" class="ai">AI чат</a>
            <input type="text" class="search" placeholder="Поиск...">
        </nav>
    </div>
</header>

<body>
    <div class="container1">
        <h1 class="h1">Rick and Morty</h1>
        <p class="t1">Полная база данных персонажей, эпизодов и локаций из мультивселенной Рика и Морти</p>
        <div>
            <button class="button">
                <a class="button_t" href="../templates/characters.html">Иследовать персонажей</a>
            </button>
            <input type="text" class="search_button" placeholder="Поиск">
        </div>
    </div>
    <div class="container2">
        <div class="mini_container1">
            <div class="mini_container1_img">
                <img class="img1" src="/static/images/icon1.png" alt="">
                <a class="num" href="">500+</a>
            </div>
            <div class="mini_container1_text">
                <p class="t2">Персонажи</p>
                <p class="t3">Изучите всех персонажей из мультивселенной Рика и <br>Морти</p>
            </div>
        </div>
        <div class="mini_container2">
            <div class="mini_container2_img">
                <img class="img2" src="/static/images/icon2.png" alt="">
                <a class="num" href="">100+</a>
            </div>
            <div class="mini_container2_text">
                <p class="t2">Эпизоды</p>
                <p class="t3">Найдите информацию о всех эпизодах сериала</p>
            </div>
        </div>
        <div class="mini_container3">
            <div class="mini_container3_img">
                <img class="img3" src="/static/images/icon3.png" alt="">
                <a class="num" href="">50+</a>
            </div>
            <div class="mini_container3_text">
                <p class="t2">Локации</p>
                <p class="t3">Исследуйте все локации, где происходят события</p>
            </div>
        </div>
</body>

</html>